
.teasers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 28px;
}
.teaser {
    width: calc(33.33% - 19px);
    display: block;
    position: relative;
    cursor: pointer;
    &:hover &__image img {
        transform: scale(1.05);
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
    }
    &__image {
        width: 100%;
        margin-bottom: 29px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1.32;
            transition: all .3s ease;
        }
    }
    &__title {
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 0;
    }
}



@media (max-width: 1440px) {
    .teaser {
        &__image {
            margin-bottom: 20px;
        }
    }
}


@media (max-width: 992px) {
    .teasers-list {
        gap: 30px 20px;
    }
    .teaser {
        width: calc(50% - 10px);
        &__title {
            font-size: 28px;
        }
    }
}

@media (max-width: 768px) {
    .teaser {
        &__title {
            font-size: 22px;
        }
        &__image {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 576px) {
    .teasers-list {
        gap: 0px;
    }
    .teaser {
        width: 100%;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
        &__title {
            font-size: 22px;
        }
        &__image {
            margin-bottom: 15px;
            img {
                aspect-ratio: 1.52;
            }
        }
    }
}

@media (max-width: 350px) {
    .teaser {
        margin-bottom: 30px;
    }
}