.reviews-widget {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;

    @media (max-width: 476px) {
        width: 160px;
    }

    @media (max-width: 350px) {
        width: 149px;
    }

    .ti-widget.ti-goog .ti-popup-widget .ti-popup-widget-inner {
        height: 75vh;

        @media (max-width: 992px) {
            height: 85vh;
        }
    }

    .ti-widget.ti-goog>.ti-widget-container>.ti-header {
        border-radius: 0px!important;
        border: 1px solid $accent!important;
        padding: 23px 20px;

        @media (max-width: 576px) {
            padding: 23px 12px;
        }

        @media (max-width: 476px) {
            padding: 13px 12px;
        }
    }

    .ti-widget.ti-goog .ti-mob-row {
        @media (max-width: 992px) {
            display: none;
        }
    }
}